
 <section id="main">
     
      <article id="home" class="panel image">
          <a id="home"></a>
          <div class="Grid Grid--center">  
        <h1 class="title">
          VICTIM ROYAL
        </h1>
      </div>
      </article>
      
      <article id="watch" class="panel alt-color">
            
     
        <a id="watch"></a> 
        <div class="Grid Grid--center"> 
        <div class="Grid Grid--center vertical-container">
          <h2 class="vertical">WATCH</h2> 
        </div>

            <div class="Grid-cell Grid-cell--center media">
              <div class="media__video">
                <iframe src="https://www.youtube.com/embed/TJhD1huc5_U" frameborder="0" allow="autoplay; encrypted-media" ></iframe>
            </div>
        
              </div> 
    
    </div>  
    
  </article>
  <article id="listen" class="Grid panel">
      <a id="listen"></a>
        <div class="Grid Grid--center vertical-container">
            <h2 class="vertical">LISTEN</h2> 
          </div>  
        <div class="Grid-cell container">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit 
            in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia 
            deserunt mollit anim id est laborum</p>
        </div>
        </article>
    <article id="follow" class="Grid panel alt-color">
        <a id="follow"></a>
        <div class="Grid Grid--center vertical-container">
            <h2 class="vertical">FOLLOW</h2> 
          </div>
          <div class="Grid-cell container">
              
                </div>  
          </article>
        </section>
     


