
 <section id="main">
     
      <section id="home" class="panel image">
          <a id="home"></a>
          <div class="Grid Grid--center">  
        <h1 class="title">
          VICTIM ROYAL
        </h1>
      </div>
      </section>
      
      <section id="watch" class="Grid Grid--center panel alt-color">
        <a id="watch"></a> 
        <div class="container container-video">
          <h2 class="vertical">WATCH</h2> 

            <div class="Grid-cell Grid-cell--center media">
              <div class="media__video">
                <iframe src="https://www.youtube.com/embed/TJhD1huc5_U" frameborder="0" allow="autoplay; encrypted-media" ></iframe>
            </div>
        
              </div> 
    
    </div>  
    
  </section>
  <section id="listen" class="Grid Grid--center  panel">
      <a id="listen"></a>
        <div class="container">
            <h2 class="vertical">LISTEN</h2> 
            <div class="container-column">
            <div class="Grid-cell spotify-media">
            <iframe src="https://open.spotify.com/embed?uri=spotify:album:1BtTaEmeQg48NqHYeIgOUv&view=coverart" width="300" height="80" frameborder="0" allowtransparency="true"></iframe>
          </div>
          <br/>
          <div class="Grid-cell Grid-cell--center">
          <iframe src="https://open.spotify.com/follow/1/?uri=spotify:artist:3JfpghYRSTVh8MmxIDZIZG&size=basic&theme=dark&show-count=0" width="92" height="28" scrolling="no" frameborder="0" style="border:none; overflow:hidden;" allowtransparency="true"></iframe>
</div>
</div>
        </div>
        </section>
    <section id="follow" class="Grid Grid--center alt-color">
        <a id="follow"></a>
        <div class="container">
            <h2 class="vertical">FOLLOW</h2> 
            <ul class="follow-links">
              <li><a href="https://www.facebook.com/victimroyalband/" class="hvr-grow"><i class="fa fa-facebook-official"></i>&nbsp;<span>FACEBOOK</span></a></li>
              <li><a href="https://www.instagram.com/victim_royal/" class="hvr-grow"><i class="fa fa-instagram"></i>&nbsp;<span>INSTAGRAM</span></a></li>
              <li><a href="https://twitter.com/victimroyalband" class="hvr-grow"><i class="fa fa-twitter-square"></i>&nbsp;<span>TWITTER</span></a></li>
              <li><a href="https://victimroyal.tumblr.com/" class="hvr-grow"><i class="fa fa-tumblr-square"></i>&nbsp;<span>TUMBLR</span></a></li>
            </ul>
                </div>  
          </section>
        </section>
     


