html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    background:#111111;
    
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

div {
    height:100vh;
}

footer
{
    background:#111;

    clear:both;
    height:100%;
    padding:1.5em 0.2em;
    width:100%;
    position: fixed;

}

footer p
{
    font-family: 'Roboto', sans-serif;
    color: ghostwhite
}

.default-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #111;
}

.default-nav li a{
    float: left;
}

.default-nav li a {
    display: block;
    color: #AA1C21;
    text-align: center;
    padding: 0.8em 1em;
    font-size: 1em;
    letter-spacing: 0.03em;
	text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.mobile-nav a{
    display: block;
    color: #AA1C21;
    text-align: center;
    padding: 0.8em 1em;
    font-size: 2em;
    letter-spacing: 0.03em;
	text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.burger{
    display: block;
    color: #AA1C21;
    padding: 0.8em 1em;
    font-size: 1.5em;
    letter-spacing: 0.03em;
	text-decoration: none;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

.burger a:hover, a:visited, a:link, a:active
{
    color: #AA1C21;
    text-decoration: none;
}

.menu-overlay{
    background: rgba(0, 0, 0, 0.8);
}

/* Change the link color to #111 (black) on hover */
.mobile-nav a:hover {
    background-color: #000;
}

#navbar-toggle{
    display:none;
}

#mySidebar{
    display: none;
}

@media screen and (max-width: 600px) {
#navbar-toggle{
    display: block;
}
nav{
    display:none;
}
}
